{
  "extends": "standard",
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true,
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "complexity": [ "error", 4 ],
    "no-sequences": "off",
    "operator-linebreak": [ "error", "after", { "overrides": { "?": "ignore", ":": "ignore" } }],
    "quotes": [ "error", "backtick", { "avoidEscape": true } ]
  }
}
