{
  "env": {
    "browser": true,
    "node": true
  },

  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },

  "extends": "eslint:recommended",
  "rules": {
    "indent": [ "error", 2 ],
    "no-console": [ 0 ],
    "quotes": [ 2, "single", "avoid-escape" ],
    "strict": [ 2, "never" ],
    "semi": [ 2, "never" ]
  }
}
